* {
}

.right{
    width: 100%;
    height: auto;
    display: flex;
}

.left{
    width: 100%;
    height: auto;
    display: flex;
}

.download{
    width: 100%;
    height: auto;
    display: flex;
}

.logo{
    width: 100%;
    height: auto;
    display: flex;
}

.words{
    width: 100%;
    height: auto;
    display: flex;
    font-size: 	1vw;
    box-sizing: border-box;
}

.phone{
    width: 100%;
    height: auto;
    display: flex;
}

.button{
    width: 100%;
    height: auto;
    display: flex;
}